apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.natsBox.contentsSecret.name }}
  labels:
    {{- include "natsBox.labels" $ | nindent 4 }}
type: Opaque
stringData:
  {{- range $ctxKey, $ctxVal := .Values.natsBox.context }}
  {{- range $secretKey, $secretVal := dict "creds" "creds" "nkey" "nk" }}
  {{- $secret := get $ctxVal $secretKey }}
  {{- if $secret.contents }}
  "{{ $ctxKey }}.{{ $secretVal }}": {{ $secret.contents | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
