# nameOverride overrides nats-kafka.name
nameOverride: ""
# fullnameOverride overrides nats-kafka.fullname
fullnameOverride: ""
# namespaceOverride overrides nats-kafka.namespace
namespaceOverride: ""
replicaCount: 1

image:
  repository: natsio/nats-kafka
  pullPolicy: IfNotPresent
  # tagOverride overrides .Chart.AppVersion
  tagOverride: ""

natskafka:
  reconnectInterval: 5000
  connectTimeout: 5000
  logging:
    time: true
    debug: false
    trace: false
    colors: true
    pid: true
  monitoring:
    httpHost: ""
    # 0 means no monitoring, -1 means some available port
    httpPort: 0
    httpsPort: 0
    tls:
      secret: ""
      root: ""
      cert: ""
      key: ""
  deploymentLabels: {}
  podLabels: {}
  configPath: # default: "/etc/nats-kafka/nats-kafka.conf"
  additionalArguments: []
  additionalVolumes: {}
  additionalVolumeMounts: {}

  # Affinity for pod assignment
  # ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  affinity: {}

  # Node labels for pod assignment
  # Ref: https://kubernetes.io/docs/user-guide/node-selection/
  nodeSelector: {}

  # Node tolerations for server scheduling to nodes with taints
  # Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
  #
  tolerations: []
  #  - key: "key"
  #    operator: "Equal|Exists"
  #    value: "value"
  #    effect: "NoSchedule|PreferNoSchedule|NoExecute(1.6 only)"

  nats:
    servers: []
    connectTimeout: 5000
    maxReconnects: 120
    reconnectWait: 5000
  connect: []
