{{- include "jsc.fixImage" .Values.jetstream -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "jsc.name" . }}
  namespace: {{ include "jsc.namespace" . }}
  labels:
    app: {{ template "jsc.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  selector:
    matchLabels:
      app: {{ template "jsc.name" . }}

  # Singleton Replica per JetStream controller
  replicas: 1

  template:
    metadata:
      {{- if .Values.podAnnotations }}
      annotations:
        {{- toYaml .Values.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
        app: {{ template "jsc.name" . }}
        chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      terminationGracePeriodSeconds: 30
      volumes:
      - name : runtime
        emptyDir : {}
      {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.secretName }}
      - name: jsc-client-tls-volume
        secret:
          secretName: {{ .Values.jetstream.tls.secretName }}
      {{- end }}

      {{- if .Values.jetstream.nats.credentials }}
      - name: jsc-sys-creds
        secret:
          secretName: {{ .Values.jetstream.nats.credentials.secret.name }}
      {{- end }}

      {{- with .Values.jetstream.nats.nkey }}
      - name: jsc-sys-nkey
        secret:
          secretName: {{ .secret.name }}
      {{- end}}
      {{- if .Values.additionalVolumes }}
      {{- toYaml .Values.additionalVolumes | nindent 6 }}
      {{- end }}

{{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}

      serviceAccountName: {{ template "jsc.serviceAccountName" . }}
      {{- if hasKey .Values "automountServiceAccountToken" }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      {{- end }}
      containers:
        - name: jsc
          image: {{ include "jsc.image" .Values.jetstream.image }}
          imagePullPolicy: {{ .Values.jetstream.image.pullPolicy }}
          workingDir: /nack
          command:
          - /jetstream-controller
          args:
          {{- if .Values.jetstream.klogLevel }}
          - -v={{ .Values.jetstream.klogLevel }}
          {{- end }}
          {{- if .Values.jetstream.nats.url }}
          - -s={{ .Values.jetstream.nats.url }}
          {{- else }}
          - -crd-connect
          {{- end }}
          {{- with .Values.jetstream.nats.credentials }}
          - --creds=/etc/jsc-creds/{{ .secret.key }}
          {{- end }}
          {{- with .Values.jetstream.nats.nkey }}
          - --nkey=/etc/jsc-nkey/{{ .secret.key }}
          {{- end }}
          {{- if .Values.namespaced }}
          - --namespace={{ template "jsc.namespace" . }}
          {{- end }}
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.settings.client_cert }}
          - --tlscert={{ .Values.jetstream.tls.settings.client_cert }}
          {{- end }}
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.settings.client_key }}
          - --tlskey={{ .Values.jetstream.tls.settings.client_key }}
          {{- end }}
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.settings.client_ca }}
          - --tlsca={{ .Values.jetstream.tls.settings.client_ca }}
          {{- end }}
          {{- with .Values.jetstream.additionalArgs }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.readOnly }}
          - --read-only={{ . }}
          {{- end }}
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
          - name: runtime
            mountPath: /nack
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.secretName }}
          - name: jsc-client-tls-volume
            mountPath: /etc/nats/certs
          {{- end }}
          {{- if .Values.jetstream.nats.credentials }}
          - name: jsc-sys-creds
            mountPath: /etc/jsc-creds
          {{- end }}
          {{- if .Values.jetstream.nats.nkey }}
          - name: jsc-sys-nkey
            mountPath: /etc/jsc-nkey
          {{- end }}
          {{- if .Values.additionalVolumeMounts }}
          {{- toYaml .Values.additionalVolumeMounts | nindent 10 }}
          {{- end }}
