{{- if .Values.jetstream.nats.url }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "jsc.name" . }}
  labels:
    app: {{ template "jsc.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
spec:
  selector:
    matchLabels:
      app: {{ template "jsc.name" . }}

  # Singleton Replica per JetStream controller
  replicas: 1

  template:
    metadata:
      {{- if .Values.podAnnotations }}
      annotations:
      {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      {{- end }}
      labels:
        app: {{ template "jsc.name" . }}
        chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    spec:
{{- with .Values.imagePullSecrets }}
      imagePullSecrets:
{{- toYaml . | nindent 8 }}
{{- end }}
{{- with .Values.securityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
{{- end }}
      terminationGracePeriodSeconds: 30
      volumes:
      {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.secretName }}
      - name: jsc-client-tls-volume
        secret:
          secretName: {{ .Values.jetstream.tls.secretName }}
      {{- end }}

      {{- if .Values.jetstream.nats.credentials }}
      - name: jsc-sys-creds
        secret:
          secretName: {{ .Values.jetstream.nats.credentials.secret.name }}
      {{- end }}

      {{- if .Values.jetstream.accounts }}
      {{- range $key, $value := .Values.jetstream.accounts }}
        {{- with $value.creds }}
      - name: {{ $key }}-creds-volume
        secret:
          secretName: {{ .secret.name }}
        {{- end }}

        {{- with $value.nkey }}
      - name: {{ $key }}-nkey-volume
        secret:
          secretName: {{ .secret.name }}
        {{- end }}

        {{- if $value.certs }}
        {{- with $value.certs.ca }}
      - name: {{ $key }}-ca-volume
        secret:
          secretName: {{ .secret.name }}
        {{- end }}
        {{- with $value.certs.client }}
      - name: {{ $key }}-client-tls-volume
        secret:
          secretName: {{ .secret.name }}
        {{- end }}
        {{- end}}
      {{- end }}
      {{- end }}

      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - {{ template "jsc.name" . }}
            topologyKey: kubernetes.io/hostname
{{- with .Values.affinity }}
{{ toYaml . | indent 8 }}
{{- end }}

      serviceAccountName: {{ template "jsc.serviceAccountName" . }}

      containers:
        - name: jsc
          image: {{ .Values.jetstream.image }}
          command:
          - /jetstream-controller
          - -s={{ .Values.jetstream.nats.url }}
          {{- with .Values.jetstream.nats.credentials }}
          - --creds=/etc/jsc-creds/{{ .secret.key }}
          {{- end }}
          {{- if .Values.namespaced }}
          - --namespace={{ .Release.Namespace }}
          {{- end }}
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.settings.client_cert }}
          - --tlscert={{ .Values.jetstream.tls.settings.client_cert }}
          {{- end }}
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.settings.client_key }}
          - --tlskey={{ .Values.jetstream.tls.settings.client_key }}
          {{- end }}
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.settings.client_ca }}
          - --tlsca={{ .Values.jetstream.tls.settings.client_ca }}
          {{- end }}

          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          volumeMounts:
          {{- if and .Values.jetstream.tls.enabled .Values.jetstream.tls.secretName }}
          - name: jsc-client-tls-volume
            mountPath: /etc/nats/certs
          {{- end }}
          {{- if .Values.jetstream.nats.credentials }}
          - name: jsc-sys-creds
            mountPath: /etc/jsc-creds
          {{- end }}

          {{- if .Values.jetstream.accounts }}
          {{- range $key, $value := .Values.jetstream.accounts }}
            {{- with $value.creds }}
          - name: {{ $key }}-creds-volume
            mountPath: /etc/creds/{{ $key }}
            {{- end}}

            {{- if $value.certs }}
            {{- with $value.certs.ca }}
          - name: {{ $key }}-ca-volume
            mountPath: /etc/certs/ca/{{ $key }}
            {{- end }}
            {{- with $value.certs.client }}
          - name: {{ $key }}-client-tls-volume
            mountPath: /etc/certs/client/{{ $key }}
            {{- end }}
            {{- end}}

          {{- end }}
          {{- end }}

{{- end }}