---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "jsc.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- if .Values.namespaced }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "jsc.serviceAccountName" . }}-role
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - ''
  resources:
  - events
  verbs:
  - create
  - update
  - patch
- apiGroups:
  - ''
  resources:
  - secrets
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - jetstream.nats.io
  resources:
  - streams
  - streams/status
  - consumers
  - consumers/status
  - streamtemplates
  - streamtemplates/status
  - accounts
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "jsc.serviceAccountName" . }}-role-binding
  namespace: {{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: {{ template "jsc.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ template "jsc.serviceAccountName" . }}-role
  apiGroup: rbac.authorization.k8s.io
{{- else }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "jsc.serviceAccountName" . }}-cluster-role
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - ''
  resources:
  - events
  verbs:
  - create
  - update
  - patch
- apiGroups:
  - ''
  resources:
  - secrets
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - jetstream.nats.io
  resources:
  - streams
  - streams/status
  - consumers
  - consumers/status
  - streamtemplates
  - streamtemplates/status
  - accounts
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ template "jsc.serviceAccountName" . }}-cluster-role-binding
  namespace: {{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: {{ template "jsc.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ template "jsc.serviceAccountName" . }}-cluster-role
  apiGroup: rbac.authorization.k8s.io
{{- end }}
