{{- include "nats-kafka.fixImage" .Values.image -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nats-kafka.fullname" . }}
  namespace: {{ include "nats-kafka.namespace" . }}
  labels:
    {{- include "nats-kafka.labels" . | nindent 4 }}
    {{- if .Values.natskafka.deploymentLabels }}
    {{- toYaml .Values.natskafka.deploymentLabels | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "nats-kafka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "nats-kafka.selectorLabels" . | nindent 8 }}
        {{- if .Values.natskafka.podLabels }}
        {{- toYaml .Values.natskafka.podLabels | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "nats-kafka.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ include "nats-kafka.image" .Values.image }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.natskafka.resources | nindent 12 }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/nats-kafka
            {{ if .Values.natskafka.monitoring.tls.secret }}
            - name: tls-volume
              mountPath: /etc/nats-kafka/tls
              readOnly: true
            {{ end }}
            {{- if .Values.natskafka.nats.credentials }}
            - name: creds-volume
              mountPath: /etc/nats-kafka/creds
              readOnly: true
            {{- end }}
            {{- if .Values.natskafka.additionalVolumeMounts }}
              {{- toYaml .Values.natskafka.additionalVolumeMounts | nindent 12 }}
            {{- end }}
          command:
            - "nats-kafka"
            - "-c"
            - {{ default "/etc/nats-kafka/nats-kafka.conf" .Values.natskafka.configPath }}
          {{- if .Values.natskafka.additionalArguments }}
          args:
            {{- with .Values.natskafka.additionalArguments }}
            {{- range . }}
            - {{ . | quote }}
            {{- end }}
            {{- end }}
          {{- end}}
          {{ if .Values.natskafka.monitoring.httpPort }}
          livenessProbe:
            httpGet:
              path: "/healthz"
              port: {{ .Values.natskafka.monitoring.httpPort }}
            initialDelaySeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: "/healthz"
              port: {{ .Values.natskafka.monitoring.httpPort }}
            initialDelaySeconds: 10
            timeoutSeconds: 5
          {{ end }}
      {{- with .Values.natskafka.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.natskafka.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.natskafka.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "nats-kafka.fullname" . }}-config
        {{ if .Values.natskafka.monitoring.tls.secret }}
        - name: tls-volume
          secret:
            secretName: {{ .Values.natskafka.monitoring.tls.secret }}
        {{ end }}
        {{- with .Values.natskafka.nats.credentials }}
        - name: creds-volume
          secret:
            secretName: {{ .secret.name }}
        {{- end }}
        {{- if .Values.natskafka.additionalVolumes }}
          {{- toYaml .Values.natskafka.additionalVolumes | nindent 8 }}
        {{- end }}
