name: nats-helm

on:
  pull_request:
    paths:
    - 'helm/charts/nats/**'
    - .github/workflows/nats-helm.yml

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:

    - name: Setup repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.24'
        check-latest: true
        cache: true
        cache-dependency-path: helm/charts/nats/test/go.sum

    - name: Test
      working-directory: helm/charts/nats/test
      run: go test
