name: nats-helm

on:
  pull_request:
    paths:
    - 'helm/charts/nats/**'
    - .github/workflows/nats-helm.yml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Setup repo
      uses: actions/checkout@v5

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
        check-latest: true
        cache: true
        cache-dependency-path: helm/charts/nats/test/go.sum

    - name: Test
      working-directory: helm/charts/nats/test
      run: go test
