# based on: https://github.com/helm/charts-repo-actions-demo/blob/main/.github/workflows/lint-test.yaml
name: test

on:
  pull_request:
    paths:
      - 'helm/charts/**'
      - '.github/workflows/test.yaml'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        k8s:
          - "1.26"
          - "1.25"
          - "1.24"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.11.2

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (lint)
        run: |-
          ct lint \
            --all \
            --chart-dirs helm/charts \
            --excluded-charts nats-account-server,nats-kafka,nats-operator,surveyor \
            --validate-maintainers=false

      - name: Check nindent levels
        run: |-
          rc=0
          for i in $(seq 2 2 20); do
            if find \
              helm/charts/nack \
              helm/charts/nats \
              helm/charts/stan \
              -type f \
              -not -name "*.md" \
              -not -name "*.go" \
              -not -name "_tplYaml.tpl" \
            | xargs grep -E "^[ ]*\{[^\}]+nindent $i" \
            | grep -Ev "^[^:]+:[ ]{$i}\{"; then
              echo "invalid nindent $i found; nindent should match template indentation"
              rc=1
            fi
          done
          exit "$rc"

      - name: Create k8s cluster
        run: |-
          sudo snap install microk8s --channel="${{ matrix.k8s }}/stable" --classic
          sudo microk8s.enable dns hostpath-storage
          sudo microk8s.kubectl wait --for=condition=ready --timeout=60s node --all
          sudo microk8s.kubectl wait --for=condition=ready --timeout=120s --namespace=kube-system pod --all
          mkdir -p ~/.kube
          sudo microk8s.config > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Run chart-testing (install)
        run: |-
          sudo microk8s.kubectl apply -f https://raw.githubusercontent.com/nats-io/nack/main/deploy/crds.yml
          ct install \
            --all \
            --chart-dirs helm/charts \
            --excluded-charts nats-account-server,nats-kafka,nats-operator,surveyor
